@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.html {
  z-index: 2;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
ul {
  list-style: none;
}
ul a {
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  color: #FFFFFF;
  flex: 1;
  font-size: 1em;
  line-height: 1.2;
  background-image: linear-gradient(to right, white 0, white 100%);
  background-position: 0 -0.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
a.active,
ul a:hover {
  background-size: 100% 100%;
  color: black;
}
